.msgs, .debug {
	position: fixed;
	top: 50%;
	left: 10px;
	background: transparent;
	font-size: 1.5em;
	font-weight: bold;
}
.resources {
	position: fixed;
	top: 5px;
	right: 5px;
	background: white;
	opacity: 0.8;
	border: 1px solid black;
	border-radius: 1em;
	padding: 2px;
}
.resources:hover {
	opacity: 1;
}
.button {
	border-radius: 1em;
	position: fixed;
	top: 5px;
	left: 5px;
	background: white;
	opacity: 0.8;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	color: #000	;
}
.button:hover {
	opacity: 1;
	background: green;
}
.commands {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	padding-bottom: 0;
	background: white;
	opacity: 0.8;
	border: 1px solid black;
	border-radius: 3px;
}
.commands:hover {
	opacity: 1;
}
.command {
	cursor: pointer;
	opacity: 0.8;
	display: inline-block;
	margin-left: 5px;
}
.command:first-child {
	margin-left: 0;
}
.command:hover {
	opacity: 0.9;
}
.command:active {
	opacity: 1;
}
.info {
	opacity: 0.8;
	display: none;
	position: fixed;
	bottom: 5px;
	left: 5px;
	background: #fff;
	border: 1px solid black;
	border-radius: 1em;
	padding: 2px;
}
.info:hover {
	opacity: 1;
}
#unit-name, #unit-hp, #unit-damage, #unit-attack-distance {
	margin: 5px;
}