.resources {
	position: fixed;
	top: 5px;
	right: 5px;
	background: white;
	opacity: 0.8;
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px;
}
.resources:hover {
	opacity: 1;
}
.debug {
	position: fixed;
	top: 5px;
	left: 5px;
	background: white;
	opacity: 0.8;
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px;
}
.debug:hover {
	opacity: 1;
}
.commands {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	padding-bottom: 0;
	background: white;
	opacity: 0.8;
	border: 1px solid black;
	border-radius: 3px;
}
.commands:hover {
	opacity: 1;
}
.command {
	opacity: 0.8;
	display: inline-block;
	margin-left: 5px;
}
.command:first-child {
	margin-left: 0;
}
.command:hover {
	opacity: 0.9;
}
.command:active {
	opacity: 1;
}
.info {
	opacity: 0.8;
	display: none;
	position: fixed;
	bottom: 5px;
	left: 5px;
	padding: 5px;
	background: #fff;
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px;
}
.info:hover {
	opacity: 1;
}
#unit-name, #unit-hp, #unit-damage, #unit-attack-distance {
	margin: 5px;
}